<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav>
    <h1><a href="{% url 'index' %}">🧯消防設備Bypass管理</a></h1>
      <ul>
        {% if user.is_authenticated %}
          <li><span>😗{{ user.username }}</span>
          <li><a href="{% url 'logout' %}">🚪登出</a>
        {% else %}
          <li><a href="{% url 'register' %}">📜註冊</a>
          <li><a href="{% url 'login' %}">🚪登入</a>
        {% endif %}
      </ul>
</nav>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">🏠首頁</a>
        <li><a href="">📜新增</a>
        <li><a href="">📚歷史</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
        {% if messages %}
            <div class="flash">{% for message in messages %}{{ message }}{% endfor %}</div>
        {% endif %}
    {% block content %}{% endblock %}
</section>
</body>
</html>